.navbar-main-container{
    background-color: #8980ea;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2vh;
    column-gap: 1vh;
    
}
.navbar-container{
    display: flex;
    /* position: relative; */
    
}
.title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.material-icons{
    color: white;
    font-size: 14px;
}
.sideBar-container{
    z-index: 1; /* Stay on top */
    background-color: #c4c0f5 ;
    position: absolute;
    display: none;
    flex-direction: column;
    row-gap: 1vh;

}
.close-icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
}
.project-name{
    display: flex;
    margin-left: 10%;
    font-weight: bold;
    font-size: 14px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color:  #8980ea;
}

@media  screen  and (min-width:475px) {

    .title,.material-icons,.close-icon,.project-name,.menu{
        
        font-size: 16px;
    }
    
}
@media  screen  and (min-width:1140px) {
    .title,.material-icons,.close-icon,.project-name,.menu{
        
        font-size: 18px;
    }
    
    
    
}
